

.contenedor{
    margin-top: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /*flex-direction: column;*/
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    background-color: rgba(217, 199, 184, 0.5) ;
}

iframe{
    /*width: 40%;
    height: 80%;
    margin-right: 50px;*/
    width: fit-content;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    width: 40%;
    margin-left: 50px;
}

p{
   text-align: left;
}