
.card{
    margin-top: 10vh;
    width: 90%;
    height: 70%;    
}
img{
    width: 100%;
    height: 80%;
}

@media screen and (min-width: 460px){
    .card{
        width: 40%;
        
    }
    img{
        width: 100%;
        height: 80%;
    } 
}



