#root {
  margin: 0 auto;
  padding: 0;
  border: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel{
  margin-top: 20px;
}
.divcasas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center; 
  gap: 60px; 
}
.olivo{
  background-image: url(./assets/olivillo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}