#root {
  margin: 0 auto;
  padding: 0;
  border: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel{
  margin-top: 20px;
}
.divcasas{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center; 
  gap: 60px; 
}