#root {
  margin: 0 auto;
  padding: 0;
  border: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel{
  margin-top: 20px;
}
.cards{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;  
}